.portfolio {
  .name-font {
    font-family: "Bungee Inline", cursive;
    font-size: 36px;
    color: #fff;
  }

  .job-title-font {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: #fff;
    padding-bottom: 50px;
  }

  .footer-section {
    background-color: #43444d;
    .footer-font {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 16px;
      color: #fff;
      text-align: center;
    }
  }

  .section-header {
    background-color: #43444d;
    color: #fff;
    padding: 30px;
    font-family: "Bungee Inline", cursive;
    font-size: 36px;
  }

  .abel-font {
    font-family: "Abel", sans-serif;
    font-size: 20px;
  }

  .abel-font-header {
    font-family: "Abel", sans-serif;
    font-size: 28px;
  }

  .abel-font-sub-header {
    font-family: "Abel", sans-serif;
    font-size: 22px;
  }

  .header {
    background-color: #0061aa;
    padding: 30px;

    .img {
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
      background-size: cover;
      margin: 10px auto;
      height: 210px;
      width: 250px;
    }

    .title-block {
      background-color: #43444d;
      padding: 10px;
      color: #ffffff;
      border-radius: 20px;
      border: 1px solid #f7f2fa;
      font-family: "Oswald", sans-serif;
      font-size: 24px;
    }

    .title-description {
      margin: 0px 15px;
      padding: 15px;
      background-color: #f7f2fa;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      font-family: "Abel", sans-serif;
      font-size: 18px;
    }
  }

  .experience-section {
    background-color: #0061aa;
    .company-header {
      padding: 30px;
      border-bottom: 7px solid #0061aa;
    }

    .company-title {
      padding: 30px;
    }

    .logo-size {
      width: 100px;
      height: 100px;
    }

    .logo-downward {
      animation-name: logo-motion;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

    .logo-upward {
      animation-name: logo-motion;
      animation-duration: 4s;
      animation-delay: 2s;
      animation-iteration-count: infinite;
    }

    @keyframes logo-motion {
      0% {
        left: 0px;
        top: 0px;
      }

      50% {
        left: 0px;
        top: 50px;
      }

      100% {
        left: 0px;
        top: 0px;
      }
    }

    .container {
      background-color: #ffffff;
      border-left: 5px solid #43444d;
      border-right: 5px solid #43444d;
      border-bottom: 5px solid #43444d;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding-bottom: 100px;
    }
  }
}
